@keyframes show {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
article.head-block {
  margin-top: 5%;
  margin-bottom: 5%;
  width: 100%;
  height: 50vh;
  background: linear-gradient(to right, #434343, #000000);
}

h1 {
  margin: 0;
  padding: 2%;
  font-family: "Permanent Marker", cursive;
  font-size: 4em;
  color: #F9D423;
  background: linear-gradient(to right, #434343, #000000);
  text-align: center;
}

nav.bread-nav {
  background: #000000;
  background: linear-gradient(to right, #434343, #000000);
  width: 100%;
  height: 4em;
}
nav.bread-nav ul.bread-ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  padding-left: 0;
  margin: 0;
  width: 100%;
  list-style: none;
}

.bread-li {
  background: #ADA996;
  background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  position: relative;
  padding: 0;
  width: 25%;
  height: 4em;
}
.bread-li:after, .bread-li:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1em;
  transform: skew(-10deg);
}
.bread-li:before {
  left: -0.5em;
  border-radius: 5px 0 0 5px;
  background: #EAEAEA;
}
.bread-li:after {
  right: -0.5em;
  border-radius: 0 5px 5px 0;
  background: #B0AC9A;
}
.bread-li span {
  position: absolute;
  text-decoration: none;
  font-family: "Arial";
  font-size: 1.4em;
  font-weight: 800;
  color: black;
}

.bread-active {
  background: #e65c00;
  background: linear-gradient(to right, #F9D423, #e65c00);
}

.bread-active:before {
  background: #F9D423;
}

.bread-active:after {
  background: #e65c00;
}

article#head-block-second {
  background: #000000;
  background: linear-gradient(to right, #434343, #000000);
  padding: 3%;
  padding-top: 6%;
  padding-bottom: 6%;
}

section {
  background: #ADA996;
  background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
  display: flex;
  justify-content: space-around;
  padding: 5%;
  border-radius: 0.5em;
  display: none;
}
section img {
  width: 20em;
  height: 25em;
  object-fit: cover;
}
section div {
  width: 51%;
}
section div h2.hb {
  margin-top: 0;
  font-family: "Arial";
  font-size: 1.8em;
  text-align: center;
  color: black;
}
section div p {
  font-family: "Arial";
  font-size: 1.2em;
}
section div a {
  text-decoration: none;
  font-family: "Arial";
  font-size: 1.2em;
  letter-spacing: 0.1em;
  color: #991A1A;
}
section div a i {
  font-size: 1.3em;
}

.hb-second-one {
  display: flex;
}

article.scedule {
  background: #000000;
  background: linear-gradient(to right, #434343, #000000);
}
article.scedule h2 {
  margin: 0;
  padding-bottom: 0;
  font-family: "Arial";
  text-align: center;
  color: #E1E1E1;
}
article.scedule h2 a {
  text-decoration: none;
  font-family: "Arial";
  font-size: 1.8em;
}
article.scedule section.schedule-section {
  background: #000000;
  background: linear-gradient(to right, #434343, #000000);
  display: flex;
  justify-content: space-around;
  padding: 0;
  padding-top: 6%;
  padding-bottom: 3%;
}
article.scedule section.schedule-section picture.schedule-pic {
  width: 50%;
}
article.scedule section.schedule-section picture.schedule-pic img.schedule-img {
  width: 100%;
  height: 100%;
  border-radius: 0.5em;
  border: 0.2em outset black;
}
article.scedule section.schedule-section form {
  background: transparent;
  padding: 0%;
  width: 40%;
  font-family: "Arial";
  font-size: 1.5em;
  font-weight: 600;
  text-align: center;
  color: yellow;
  text-shadow: 0 0.2em 0.2em rgba(236, 14, 29, 0.9);
}
article.scedule section.schedule-section form span {
  display: block;
  margin-bottom: 5%;
  font-size: 1.8em;
  font-weight: 600;
  text-align: center;
  color: red;
  text-decoration: underline;
  text-shadow: 0 0.2em 0.2em rgba(236, 14, 29, 0.5);
}
article.scedule section.schedule-section form input {
  background: #ADA996;
  background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
  margin: 5%;
  padding: 1%;
  width: 80%;
  border: 0.1em outset red;
  border-radius: 0.3em 0.3em 0.3em 0.3em;
  font-size: 1em;
  color: black;
  box-shadow: outset 0px -31px 75px -30px #edf50a;
}
article.scedule section.schedule-section form #submit {
  margin-top: 5%;
  padding: 3%;
  background: transparent;
  width: 30%;
  border: 0.1em outset red;
  font-size: 1.5em;
  color: yellow;
}

h2#h-history {
  margin: 3%;
  padding-bottom: 0;
  text-align: center;
  color: #E1E1E1;
  letter-spacing: 0.1em;
}
h2#h-history a {
  text-decoration: none;
  font-family: "Arial";
  font-size: 1.8em;
}

article#history {
  background: transparent;
  display: block;
  width: 94%;
  margin: 3%;
  padding: 0;
}
article#history img {
  margin-bottom: 3%;
  padding-left: 0;
  width: 100%;
  border-radius: 0.5em;
}
article#history section#info-history {
  background: transparent;
  display: block;
  width: 96%;
  padding: 2%;
  border-radius: 0.5em;
}
article#history section#info-history p {
  font-family: "Arial";
  font-size: 1.2em;
  color: #E1E1E1;
}

article#athletes {
  background: #000000;
  background: linear-gradient(to right, #434343, #000000);
  width: 100%;
  padding: 0;
}
article#athletes h2 {
  margin: 3%;
  padding-bottom: 0;
  text-align: center;
  letter-spacing: 0.1em;
}
article#athletes h2 a {
  text-decoration: none;
  font-family: "Arial";
  font-size: 1.8em;
  color: #E1E1E1;
}

.athlet {
  background: transparent;
  display: block;
  width: 100%;
  position: relative;
  padding: 0;
}

.athlet-div {
  backfround: transparent;
  display: none;
  justify-content: space-around;
  width: 100%;
  padding: 0;
  margin-top: 5%;
}
.athlet-div .hide {
  display: none;
}
.athlet-div .show {
  display: flex;
  justify-content: space-around;
  animation: show 2s ease;
}
.athlet-div img {
  width: 30%;
  border-radius: 0.5em;
}
.athlet-div div.athlet-info h3 {
  margin: 0;
  font-family: "Arial";
  font-size: 1.5em;
  font-weight: 800;
  color: yellow;
}
.athlet-div div.athlet-info span.athlet-span {
  font-family: "Arial";
  font-size: 1.2em;
  font-weigth: 400;
  color: #E1E1E1;
}

.hide {
  display: none;
}

.show {
  display: flex;
  justify-content: space-around;
  animation: show 2s ease;
}

.pagination {
  width: 90%;
  float: left;
  padding: 5%;
  margin: 0;
  display: flex;
  justify-content: space-between;
}
.pagination .prev {
  position: relative;
  color: #E1E1E1;
  border: 1px outset #F9D423;
  border-radius: 0.3em 0.3em 0.3em 0.3em;
  padding: 0.5em;
  margin-right: 5%;
  margin-left: 30%;
  font-size: 1.5em;
  text-align: center;
  cursor: pointer;
}
.pagination .next {
  position: relative;
  color: #E1E1E1;
  border: 1px outset #F9D423;
  border-radius: 0.3em 0.3em 0.3em 0.3em;
  padding: 0.5em;
  margin-left: 5%;
  margin-right: 30%;
  font-size: 1.5em;
  text-align: center;
  cursor: pointer;
}
.pagination .prev.disabled, .pagination .next.disabled {
  opacity: 0.3;
  pointer-events: none;
}
.pagination .prev:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #e65c00;
  background: linear-gradient(to right, #F9D423, #e65c00);
  border-radius: 0.3em 0.3em 0.3em 0.3em;
  transition: all 0.2s ease;
}
.pagination .next:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0%;
  height: 100%;
  background: #e65c00;
  background: linear-gradient(to right, #F9D423, #e65c00);
  border-radius: 0.3em 0.3em 0.3em 0.3em;
  transition: all 0.2s ease;
}
.pagination .prev:hover:before {
  width: 100%;
  right: 0;
  left: auto;
}
.pagination .next:hover:before {
  width: 100%;
  left: 0;
  right: auto;
}
.pagination .prev:hover, .pagination .next:hover {
  color: black;
  transition: color 2s ease;
}
.pagination b {
  position: relative;
  z-index: 10;
}