@keyframes slider-header {
	from, to, 28% {
		background-image:url(../img/main-img/h-dark.jpg);
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}
	33%, 57% {
		background-image:url(../img/main-img/h-chess.jpg);
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}
	66%, 93% {
		background-image:url(../img/main-img/h-belt.jpg);
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}
}


body {
	position: relative;
}

/* All Styles for <HEADER> */

header {
	background: #000000;
	background: -webkit-linear-gradient(to right, #434343, #000000);
	background: linear-gradient(to right, #434343, #000000);
	width: 100%;
	height: 20vh;
	margin-bottom: 100%;
}

/* Styles for #MAIN-MENU */

div.menu-burger-wrapper {
	display: none;
}

.main-menu {
	display: inline-block;
	width: 100%;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
}

ul.main-menu-list {
	display: flex;
	justify-content: space-around;
	list-style: none;
}

ul.main-menu-list li.main-list {
	position: relative;
	margin-right: 4%;
	padding: 1%;
	width: 6em;
}

ul.main-menu-list li.main-list:after {
	content: "";
	position: absolute;
	bottom: .01em;
	left: 9em;
	border-right: .1em outset #E1E1E1;
	padding: 0.8em;
}

ul.main-menu-list li.last-main-list:after {
	display: none;
}

ul.main-menu-list li.main-list a {
	position: absolute;
	top: .01em;
	left: .01em;
	right: .01em;
	bottom: .01em;
	text-align: center;
	text-decoration: none;
	font-style: "Arial";
	font-size: 1.2em;
	font-weight: 600;
	color: #E1E1E1;
	overflow: hidden;
	z-index: 2;
	opacity: 0.9;
}

ul.main-menu-list li.main-list a:hover {
	opacity: 1.0;
	color: #E1E1E1;
	border-bottom: .1em outset #E1E1E1;
	transition: .2s;
}


/* Styles for #MAIN-SLIDER */

div#main-slider {
	animation: slider-header 45s infinite cubic-bezier(1,.28,0,.79);
	width: 100%;
	height: 100vh;
}

img#main-logo {
	display: none;
}

/*Styles for FOOTER */

footer {
	display: flex;
	flex-direction: column;
	padding-top: 5%; 
	background: #e65c00;
	background: -webkit-linear-gradient(to right, #F9D423, #e65c00);
	background: linear-gradient(to right, #F9D423, #e65c00);
	margin-top: 20em;
	width: 100%;
	height: auto;
	border: 2px outset black;

}

section#contacts {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	padding-bottom: 5%;
}

div#text-contacts {
	background: #000000;
	background: -webkit-linear-gradient(to right, #434343, #000000);
	background: linear-gradient(to right, #434343, #000000);
	border: 2px outset black;
	width: 30%;
	padding: 2em;
	color: #F9D423;
}

h2>a#contact {
	display: flex;
	justify-content: center;
	font-size: 2em;
	font-weight: 700;
	text-shadow: 0 .1em .3em black;
}

ul#icon-list-contact li {
	list-style: none;
	font-size: 1.2em;
	word-spacing: .3em;
	line-height: 2em;
	text-shadow: 0 .1em .3em black;
}

ul#icon-list-contact li span {
	display: inline-block;
	padding-left: 5%;
}

ul#icon-list-contact li i {
	font-size: 1.7em;
}

/* Styles for #MENU-ICON */

section#menu-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #000000;
	background: -webkit-linear-gradient(to right, #434343, #000000);
	background: linear-gradient(to right, #434343, #000000);
}

ul.icon-contact {
	display: flex;
}

ul.icon-contact li.icon {
	position: relative;
	list-style: none;
	width: 6em;
	height: 6em;
	margin: 0 2em;
	border-radius: 50%;
	z-index: 2;
}

ul.icon-contact li.icon:before,
ul.icon-contact li.icon:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background: #000;
	filter: blur(1em);
	z-index: 1;
	opacity: 0.0;
	transition: 1s;
}

ul.icon-contact li.icon:after {
	filter: blur(2em);	
}

ul.icon-contact li.icon:hover:before,
ul.icon-contact li.icon:hover:after {
	opacity: 1.0;
}

ul.icon-contact li.icon>a {
	position: absolute;
	background-color: #EC8F9D;
	top: .6em;
	left: .6em;
	right: .6em;
	bottom: .6em;
	text-align: center;
	line-height: 2.5em;
	font-size: 1.7em;
	color: white;
	border-radius: 50%;
	z-index: 3;
}

ul.icon-contact li.icon>a>i {
	text-shadow: 0 .2em .2em rgba(0,0,0,0.5);
	opacity: 0.7;
	transition: .5s;
}

ul.icon-contact li.icon>a:hover>i {
	opacity: 1.0;
	transform: scale(1.1);
} 

ul.icon-contact li.icon:nth-child(1) a,
ul.icon-contact li.icon:nth-child(1):before,
ul.icon-contact li.icon:nth-child(1):after {
	background: #ff0099;
	background: linear-gradient(to left, #ff0099, #493240);
}

ul.icon-contact li.icon:nth-child(2) a,
ul.icon-contact li.icon:nth-child(2):before,
ul.icon-contact li.icon:nth-child(2):after {
	background: #00d2ff;
	background: linear-gradient(to left, #00d2ff, #3a7bd5);
}

ul.icon-contact li.icon:nth-child(3) a,
ul.icon-contact li.icon:nth-child(3):before,
ul.icon-contact li.icon:nth-child(3):after {
	background: #4b6cb7;
	background: linear-gradient(to left, #4b6cb7, #182848);
}
ul.icon-contact li.icon:nth-child(4) a,
ul.icon-contact li.icon:nth-child(4):before,
ul.icon-contact li.icon:nth-child(4):after {
	background: #0f9b0f;
	background: linear-gradient(to right, #000000, #0f9b0f);
}

