	// ----------variables----------

$bgDark: linear-gradient(to right, #434343, #000000);

$bgLight: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); 

$bgYellow: linear-gradient(to right, #F9D423, #e65c00);

$vividRed: #EC0800;

	// ----------mixins----------

@mixin dark-block {
	background: #000000;
	background: -webkit-linear-gradient(to right, #434343, #000000);
	background: $bgDark;
}

@mixin light-block {
	background: #ADA996; 
	background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); 
	background: $bgLight;
}

@mixin yellow-block {
	background: #e65c00;
	background: -webkit-linear-gradient(to right, #F9D423, #e65c00);
	background: $bgYellow;
}

	// ----------------------------------

article.head-block { 
	margin-top: 5%;
	margin-bottom: 5%;
	width: 100%;
	height: 50vh;
	background: $bgDark;
}

h1 {
	margin: 0;
	padding: 2%;
	font-family: 'Permanent Marker', cursive;
	font-size: 4em;
	color: #F9D423;
	background: $bgDark;
	text-align: center;
}

nav.bread-nav {
	@include dark-block;
	width: 100%;
	height: 4em;

	ul.bread-ul {
		display: flex;
		align-items: center;
		justify-content: space-around;
		position: relative;
		padding-left: 0;
		margin: 0;
		width: 100%;
		list-style: none;
	}
}

.bread-li {
				@include light-block;
				display: flex;
				justify-content: center;
				align-items: center;
				float: left;
				position: relative;
				padding: 0;
				width: 25%;
				height: 4em;

				&:after,
				&:before {
					content:"";
					position:absolute;
					top: 0;
					bottom: 0;
					width: 1em;
					transform: skew(-10deg);
				}

				&:before {
					left: -.5em;
 					border-radius: 5px 0 0 5px;
 					background: #EAEAEA;
				}

				&:after {
					right: -.5em;
					border-radius: 0 5px 5px 0;
					background: #B0AC9A;
				}
						span {
							position: absolute;
							text-decoration: none;
							font-family: "Arial";
							font-size: 1.4em;
							font-weight: 800;
							color: black;
						}
			}

.bread-active {
	@include yellow-block;
}

.bread-active:before {
	background: #F9D423;
}

.bread-active:after {
	background: #e65c00;
}

article#head-block-second {
	@include dark-block;
	padding: 3%;
	padding-top: 6%;
	padding-bottom: 6%;
}
	

		section {
			@include light-block;
			display: flex;
			justify-content: space-around;
			padding: 5%;
			border-radius: .5em;
			display: none;

				img {
					width: 20em;
					height: 25em;
					object-fit: cover;
					}

				div {

					width: 51%;

						h2.hb {
						margin-top: 0;
						font-family: 'Arial';
						font-size: 1.8em;
						text-align: center;
						color: black;
						}

						p {
							font-family: 'Arial';
							font-size: 1.2em;
							}

						a {
							text-decoration: none;
							font-family: 'Arial';
							font-size: 1.2em;
							letter-spacing: .1em;
							color: #991A1A;

								i {
							font-size: 1.3em;
							}
						}
				}	
		}
.hb-second-one {
	display: flex;
}

article.scedule {
	@include dark-block;

		h2{
		margin: 0;
		padding-bottom: 0;
		font-family: 'Arial';
		text-align: center;
		color: #E1E1E1;

			a{
			text-decoration: none;
			font-family: 'Arial';
			font-size: 1.8em;
			}
		}

		section.schedule-section {
		@include dark-block;
		display: flex;
		justify-content: space-around;
		padding: 0;
		padding-top: 6%;
		padding-bottom: 3%;

			picture.schedule-pic {
			width: 50%;

				img.schedule-img {
				width: 100%;
				height: 100%;
				border-radius: .5em;
				border: .2em outset black;
				}

			}

			form {
			background: transparent;
			padding: 0%;
			width: 40%;
			font-family: 'Arial';
			font-size: 1.5em;
			font-weight: 600;
			text-align: center;
			color: yellow;
			text-shadow: 0 .2em .2em rgba(236,14,29,0.9);
			
				span {
				display: block;
				margin-bottom: 5%;
				font-size: 1.8em;
				font-weight: 600;
				text-align: center;
				color: red;
				text-decoration: underline;
				text-shadow: 0 .2em .2em rgba(236,14,29,0.5);
				}

				input{
				@include light-block;
				margin: 5%;
				padding: 1%;
				width: 80%; 
				border: .1em outset red;
				border-radius: .3em .3em .3em .3em;
				font-size: 1em;
				color: black;
				box-shadow: outset 0px -31px 75px -30px rgba(237,245,10,1);
				}

				#submit {
				margin-top: 5%;
				padding: 3%;
				background: transparent;
				width: 30%; 
				border: .1em outset red;
				font-size: 1.5em; 
				color: yellow;
				}
			}
		}

}
